{{#each tags}}
    <h1 id="tag-{{htmlId name}}" class="swagger-summary-tag" data-traverse-target="tag-{{htmlId name}}">{{name}}</h1>
    {{#if description}}
      <div class="tag-description doc-row">
        <div class="doc-copy">
          {{md description}}
          {{#if diagram_image_name}}
            <div class="diagram">
              <img src="images/{{diagram_image_name}}" title="{{diagram_image_name}}" />
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}
    {{#each operations}}
      {{>swagger/operation . operation=. method=method path=path}}
    {{/each}}
{{/each}}
